
body{
    margin-bottom: 120px;
    color:#503382;
    background-image: url("../stars(2.large).jpg");
  
   
      font-family: "Changa", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    
}
a{
    color: #d951f7;;
}
.weather-app{
  
    background-image: url("../stars\(2.large).jpg");
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(182, 127, 255, 0.4);
    border-radius: 16px;
}

header{
   
    padding: 0 0 30px 0;
}
.search-form-input{
background-color: #fcccff;
border: none;
border-radius: 5px;
width: 80%;
padding: 15px 20px;
font-family: "Changa", sans-serif;
font-size: 20px;
}
.search-form-button{
    background-color: #d951f7;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    font-family: "Changa", sans-serif;
    font-size: 20px;
}

main{
    
    padding: 30px 0;
}
.weather-app-data{
  
    box-shadow: 0 30px 50px rgba(157, 2, 174, 0.4);
    border-radius: 16px;
   
    justify-content: space-between;
    padding: 20px;
    background-image: url("../stars(2.large).jpg");
    background-repeat: none;
}
.weather-app-city{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
    display: block;
          }
.weather-app-details{
    padding-left: 70px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: rgb(76, 60, 149);
        }
.weather-app-details strong {
color: #BA409E;
}
.weather-app-temperature-container{
    display: flex;
   
}
.weather-app-temperature{
    font-size: 88px;
    font-weight: bold;
    margin-left: 10px;
    line-height: 88px;
}
.weather-app-icon{
    width: 88px;
    height: 88px; 
}
.weather-app-unit{
    margin-top: 12px;
    font-size: 28px;
}
.weather-forecast{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    
  color: #965df1;
  
}
.forecast-1{
    
    text-align: center;
}
.weather-forecast-date{
    font-size:16px ;
    opacity: 0.7;
    }
.weather-forecast-temperature{
    font-size: 13px;
}
.weather-forecast-temperature-minimum{
    opacity: 0.7;
}
footer{
    
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
    color: #a51e9a;
}